.topbar {
  width: 100%;
  
  position: sticky;
  padding-top: 0.3rem;
  top: 0;
  margin: 5px;
  
  border-radius: 10px;
  background-color: #ffffff;
  
}

.topbarWrapper {
  height: 3rem;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.topRight{
  display: flex;
  align-items: center;
}

.topbarInconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.topAvatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.search{
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: #f8f6f6;
  border-radius: 15px;
  padding: 0px 0px 0 20px;
}

.search:hover{
  background-color: #e7e7e7;
}

.searchIcon {
  margin: 0px 10px;
}

