.sidebar {
  flex: 1;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 50px;
  box-shadow: 2px 0px 15px -5px black;
  margin:-2rem -7px;
}

.sidebarWrapper {
  color: #555;
}

.sidebarMenu {
  padding: 1rem;
  margin-bottom: 10px;
  position: fixed;
}

.sidebarTitle{
  display: flex;
  align-items: center;
  color: darkgoldenrod;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  margin:10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #ebebeb;
}

.logo {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: darkgoldenrod;
  cursor: pointer;
}


.sidebarIcon{
  margin-right: 10px;
  font-size: 20px;
}

.LogOut{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20rem;
}

.LogOut:hover{
  background-color: #ebebeb;

}